
<% @topic.stories.each do |s| %>
<div><%= s.body %></div>
<% end %>


<blockquote class="twitter-tweet"
  data-link-color="#55acee" lang="en">
<a href="https://twitter.com/TalibKweli/status/759473617549795328">
</a>
</blockquote>
