
<div class="row">
  <div class="col-xs-0 col-sm-2 col-md-1">
  </div>

  <div class="col-xs-12 col-sm-8 col-md-6">
    <% Story.where(story_type: "RS").limit(20).each do |n| %>
    <div class='story_container'>
      <%= n.body.html_safe %>
    </div>
    <%end%>
  </div>

  <div class="col-xs-12 col-sm-4 col-md-4">

    <% Story.where(story_type: "TW").limit(20).each do |t| %>
    <div class="twitter_container">
      <%=raw t.body %>
    </div>
    <%end %>
  </div>


</div>
