
<div class="row">
  <div class="col-xs-0 col-sm-0 col-md-1">
  </div>

  <div class="col-xs-12 col-sm-8 col-md-7">
    <div class="story_container">
      <div class="media">
        <div class="media-body">
          <h2 class="media-heading">Maxie Loses Her Shit</h2>
          VIA CNN
        </div>

      <div class="media-left">
        <img class="media-object" src="https://images.unsplash.com/photo-1466046690866-98181611563d?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80">
      </div>
    </div>
  </div>

    <div class="story_container">
      <div class="media">
        <div class="media-body">
          <h2 class="media-heading">Andrea Loses Her Shit Too!</h2>
          VIA CNN
        </div>
        <div class="media-left">
          <img class="media-object" src="https://images.unsplash.com/photo-1466046690866-98181611563d?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80">
        </div>
      </div>
    </div>
  </div>



  <div class="col-xs-12 col-sm-4  col-md-4">
    <blockquote class="twitter-tweet"
    data-link-color="#55acee" lang="en">
    <a href="https://twitter.com/TalibKweli/status/759473617549795328">
    </a>
  </blockquote>


  <blockquote class="twitter-tweet"
  data-link-color="#55acee" lang="en">
  <a href="https://twitter.com/TalibKweli/status/759472376870477826">
  </a>
</blockquote>
</div>


</div>
