
<div class="row">
  <div class="col-xs-0 col-sm-2 col-md-1">
  </div>

  <div class="col-xs-12 col-sm-8 col-md-6">
    <% Story.last(10).each do |n| %>
      <div class='story_container'>
        <%= n.body.html_safe %>
      </div>
    <%end%>
  </div>
  
  <div class="col-xs-12 col-sm-4  col-md-3">
    <blockquote class="twitter-tweet"
    data-link-color="#55acee" lang="en">
    <a href="https://twitter.com/TalibKweli/status/759473617549795328">
    </a>
  </blockquote>


  <blockquote class="twitter-tweet"
  data-link-color="#55acee" lang="en">
  <a href="https://twitter.com/TalibKweli/status/759472376870477826">
  </a>
</blockquote>
</div>


</div>
