
<% @topic.stories.each do |s| %>
<div><%= s.body %></div>
<% end %>

<div class="row">
  <div class="col-xs-0 col-md-2">
  </div>
  <div class="col-md-4">
    <div class="story_container"
      <div class="media">
        <blockquote class="twitter-tweet"
        data-link-color="#55acee" lang="en">
        <a href="https://twitter.com/TalibKweli/status/759473617549795328">
        </a>
      </blockquote>
    </div>

    <div class="story_container">

    <div class="media-left">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Story Headline</h4>
      VIA CNN goes here
    </div>
  </div>

  <div class="story_container">
    <blockquote class="twitter-tweet"
    data-link-color="#55acee" lang="en">

    <a href="https://twitter.com/TalibKweli/status/759472376870477826">
    </a>
  </blockquote>
</div>
</div>
</div>
</div>
