<div class="row">
  <div class="col-xs-0 col-sm-2 col-md-1">
  </div>


  <div class="col-xs-12 col-sm-8 col-md-6">
      <% @topic.stories.where(story_type: "RS").each do |story| %>
      <div class='story_container'>
        <%= story.body.html_safe %>
        </div>
    <% end %>
</div>

  <div class="col-xs-12 col-sm-4 col-md-4">
    <div class="twitter_container">
      <% @topic.stories.where(story_type: "TW").each do |story| %>
      <blockquote class="twitter-tweet" data-link-color="#55acee" lang="en">
          <%= story.body.html_safe %>
      </blockquote>
      <% end %>
    </div>
  </div>


</div>
