<body>
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <div class="overlay"></div>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"></div>
        <div class="hero">
          <hgroup>
            <h1>Breakthrough</h1>
            <h3>Placeholder</h3>
          </hgroup>
          <button class="btn btn-hero btn-lg" role="button">See Story</button>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"></div>
        <div class="hero">
          <hgroup>
            <h1>Stay Woke</h1>
            <h3>Placeholder</h3>
          </hgroup>
          <button class="btn btn-hero btn-lg" role="button">See Story</button>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"></div>
        <div class="hero">
          <hgroup>
            <h1>Woke</h1>
            <h3>Placeholder</h3>
          </hgroup>
          <button class="btn btn-hero btn-lg" role="button">See Story</button>
        </div>
      </div>
      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>

  <!-- Headliners -->
  <div class="row">
    <div class="col-xs-0 col-sm-0 col-md-1">
    </div>

    <div class="col-xs-12 col-sm-8 col-md-6">
      <div class="story_container">
        <div class="media">
          <div class="media-body">
            <h2 class="media-heading">Steve, the Drama Queen</h2>
            VIA CNN
          </div>
          <div class="media-left">
            <img class="media-object" src="https://hd.unsplash.com/photo-1453227588063-bb302b62f50b">
          </div>
        </div>
      </div>

      <div class="story_container">
        <div class="media">
          <div class="media-left">
            <img class="media-object" src="https://images.unsplash.com/photo-1466046690866-98181611563d?dpr=1&auto=compress,format&crop=entropy&fit=crop&w=1199&h=799&q=80">
          </div>
          <div class="media-body">
            <h2 class="media-heading">Andrea Loses Her Shit</h2>
            VIA CNN
          </div>
        </div>
      </div>

      <div class="story_container">
        <div class="media">
          <div class="media-body">
            <h2 class="media-heading">Maxie Loses Her Shit</h2>
            VIA CNN
          </div>
          <div class="media-left">
            <img class="media-object" src="https://hd.unsplash.com/photo-1455747634646-0ef67dfca23f">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="twitter_container">
        <blockquote class="twitter-tweet"
        data-link-color="#55acee" lang="en">
        <a href="https://twitter.com/Dreamdefenders/status/759496049602027520">
        </a>
      </blockquote>
    </div>

    <div class="twitter_container">
      <blockquote class="twitter-tweet"
      data-link-color="#55acee" lang="en">
      <a href="https://twitter.com/RT_com/status/759554207246680064">
      </a>
    </blockquote>
  </div>
</div>
</body>
