<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
          <h1>Breakthrough</h1>
          <h3>Placeholder</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See Story</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
          <h1>Stay Woke</h1>
          <h3>Placeholder</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See Story</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
          <h1>Woke</h1>
          <h3>Placeholder</h3>
        </hgroup>
        <button class="btn btn-hero btn-lg" role="button">See Story</button>
      </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
</div>
