<h1>Editor's Dashboard</h1>

<div class="feed">
  <h3>RSS Stories</h3>
  <ul>
    <li  class="story">
      <% x = Story.last(5)%>
      <% x.each do |story| %>
      <%= story.body %>
      <% end %>
    </li>
  </ul>
</div>

<div class="feed">
  <h3>Top Tweets</h3>
  <ul>
    <li class="story">
    </li>
  </ul>
</div>

<div class="feed">
  <h3>Top Videos</h3>
  <ul>
    <li  class="story">

    </li>
  </ul>
</div>

<div class="trending">
  <h3>Trending Topics</h3>
  <ul>
    <li  class="topic">

      <%#render @topics %>
    </li>
  </ul>
</div>

<div>
  <h2>New Topic</h2>
  <%= render 'topics/form' %>
</div>
