$(document).on('turbolinks:load', function(){
  onYouTubeIframeAPIReady();
});

// YouTube API ready event handler
function onYouTubeIframeAPIReady() {
  var youtubeApiUrl = "https://www.googleapis.com/youtube/v3/"
  var key = "<%= ENV["YOUTUBE_KEY"] %>";
  var videoSearchUrl = youtubeApiUrl + "search?part=snippet&order=date&key=" + key + "&channelId=";
  var videoPlayUrl = youtubeApiUrl + "videos?part=player&key=" + key + "&id=";

  // ES6 Array.uniq
  function uniq(a) {
    return Array.from(new Set(a));
  }

  // send video embed code to Rails (for some reason?)
  function addYoutubeVideos(player) {
    $.ajax({
      url: '/youtubes',
      method: 'POST',
      data: {
        embed: player
      }
    })
    .done(function(data){
      console.log(data);
    });
  }

  // list of loaded video ids (to avoid duplicates)
  var loadedSnippets = [];

  // embed an array of youtube videos
  function getPlayerSnippets(videoIds) {
    // filter out videos that have already been embedded
    videoIds = videoIds.filter(function(id) {
      return !loadedSnippets.includes(id);
    });

    // add newly loaded videos to the list
    loadedSnippets = loadedSnippets.concat(videoIds);

    var videoId;
    for (var i = 0; i < videoIds.length; i++) {
      videoId = videoIds[i];

      // create a new div inside the yt well
      console.log('creating player');
      $('.youtube ul').append("<li><div id='" + videoId + "'></div></li>");
      console.log($("." + videoId));
      var player = new YT.Player(videoId, { // the div selector goes here
        height: '200',
        width: '200',
        videoId: videoId,
        // events: {
        //   'onReady': onPlayerReady,
        //   'onStateChange': onPlayerStateChange
        // }
      });
    }

    // ajax request to get videos
    var videoIdString = videoIds.join(",");
    var playerUrl = videoPlayUrl + videoIdString;
    $.ajax({
      url: playerUrl
    })
    .done(function(data){
      var playerVideos = data.items;
      for (var i = 0; i < playerVideos.length; i++) {
        // embed yt video
        var player = playerVideos[i].player.embedHtml;
        addYoutubeVideos(player);
        $('').append(player[0].outerHTML);
        $(playerVideos[i].player).width = "350";
        $(playerVideos[i].player).height = "200";
        $('.youtube ul').append("<li>" + player + "</li>");
      }
    });
  }

  // get the ids in a hard-coded list of channels
  function getVideoIds() {
    // channel ids
    var rt_id = "UCpwvZwUam-URkxB7g4USKpg";
    var rn_id = "UCrmm_7RDZJeQzq2-wvmjueg";
    var dn_id = "UCzuqE7-t13O4NIDYJfakrhw";
    var tyt_id = "UC1yBKRuGpC1tSM73A0ZjYjQ";
    var channels = [rt_id, rn_id, dn_id, tyt_id];

    var videoIds = [];

    for (var i = 0; i < channels.length; i++) {

      // request the channel videos
      var url = videoSearchUrl + channels[i];
      $.ajax({
        url: url
      })
      .fail(function(jqXHR, textStatus, errorThrown){
        // why it's not working
        console.log(jqXHR);
      })
      .done(function(data){
        var videos = data.items;

        videoIds = [];
        var videoId;
        for (var i = 0; i < videos.length; i++) {
          // grab video ids
          videoId = videos[i].id.videoId;
          videoIds.push(videos[i].id.videoId);

          // remove duplicate video ids
          videoIds = uniq(videoIds);

          // limit to only 5 video ids (after removing duplicates)
          if (videoIds.length == 2) break;
        }

        // embed the 5 videos grabbed
        getPlayerSnippets(videoIds);
      });
    }
  };

  getVideoIds();
}

// function onYouTubeIframeAPIReady() {
//   console.log('youtube api ready');
// }
