$(document).on('ready turbolinks:load', function(){
  var google_drive_url = "https://www.googleapis.com/youtube/v3/search?part=snippet";
  var key = '&key=<%= ENV["YOUTUBE_KEY"] %>';

  function addYoutubeVideos(player) {
    $.ajax({
      url: '/youtubes',
      method: 'POST',
      data: {
        embed: player
      }
    })
    .done(function(data){
      console.log(data);
    });
  }

    function getVideoIds() {
      var rt_id = "UCpwvZwUam-URkxB7g4USKpg";
      var rn_id = "UCrmm_7RDZJeQzq2-wvmjueg";
      var dn_id = "UCzuqE7-t13O4NIDYJfakrhw";
      var tyt_id = "UC1yBKRuGpC1tSM73A0ZjYjQ";

      var videoIds = [];
      var channels = [rt_id, rn_id, dn_id, tyt_id];

      var one_time = 0;
      for (var i = 0; i < channels.length; i++) {

        var url = google_drive_url + "&channelId=" + channels[i] + key;
        $.ajax({
          url: url
        })
        .fail(function(jqXHR, textStatus, errorThrown){
          // Add popup to warn why it's not working
          console.log(jqXHR);
        })
        .done(function(data){
          var videos = data.items;
          for (var i = 0; i < videos.length; i++) {
            videoIds.push(videos[i].id.videoId);
          }

          // function onlyUnique(value, index, self) {
          //     return self.indexOf(value) === index;
          // }
          //
          // var uniqueIds = videoIds.filter( onlyUnique );

          if (one_time === 3) {
            console.log('hey');

            getPlayerSnippets(videoIds);
          }
          one_time++;
          function onlyUnique(value, index, self) {
              return self.indexOf(value) === index;
          }

          var uniqueIds = videoIds.filter( onlyUnique );

            getPlayerSnippets(uniqueIds);
        });
      }

    function getPlayerSnippets(videoIds) {
      var videoIdString = videoIds.join(",");
      // var playerSnippets = [];
      var playerUrl = "https://www.googleapis.com/youtube/v3/videos?part=player&id=" + videoIdString + key;
      $.ajax({
        url: playerUrl
      })
      .done(function(data){
        var playerVideos = data.items;
          for (var i = 0; i < playerVideos.length; i++) {
            var player = playerVideos[i].player.embedHtml;
            addYoutubeVideos(player);
            $('').append(player[0].outerHTML);
            $(playerVideos[i].player).width = "350";
            $(playerVideos[i].player).height = "200";
            $('.youtube ul').append("<li>" + player + "</li>");
          }
      });
    };
  };

  getVideoIds();

});
